.navBar {
  background-color: rgba(120, 202, 216, 0);
  margin: 0px;
  padding: 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* justify-content: space-between; */
}

.text-decoration {
  text-decoration: none;
}

.text-decoration-right {
  text-decoration: none;
  /* width:40%; */
  padding: 14px 16px
}

.pageTitle {
  margin-top: 0px;
  /* width: 40%; */
  font-family: 'Fredericka the Great';
  font-size: 40px;
  color: black
}
